modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["bash", "cairo", "ffmpeg-full", "freetype", "ghostscript", "gobject-introspection", "gtk3", "libxcrypt", "libyaml", "nmap", "pkg-config", "qhull", "tcl", "tk"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "AutoGen-Ethical-Hacker"

[[workflows.workflow]]
name = "AutoGen-Ethical-Hacker"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd autogen-ethical-hacker && python main.py"

[workflows.workflow.metadata]
outputType = "console"
